a.tooltip {outline:none; text-decoration: none; }
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;}
a.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-10px; margin-left:28px;
    width:240px; line-height:16px;
    z-index: 1;
    position: relative;
}
a.tooltip span:before {
    border-top: 10px solid transparent;
    border-right: 15px solid #ccc;
    border-bottom: 10px solid transparent;
    content: "";
    position: absolute;
    left: -15px;

}
a.tooltip:hover span{
    display:inline; position:absolute; color:#333;
    border:1px solid #ccc; background:#f1f1f1;}

/*CSS3 extras*/
a.tooltip span
{
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}
#ui-datepicker-div {
    background: #f1f1f1;
    border-radius: 3px;
}
#ui-datepicker-div a {
    text-decoration: none;
    cursor: pointer;
}
#ui-datepicker-div .ui-datepicker-header,
#ui-datepicker-div .ui-datepicker-calendar th,
#ui-datepicker-div .ui-datepicker-calendar td {
    padding: 5px;
    text-align: center;
}
.ui-datepicker-prev {
    float: left;
}
.ui-datepicker-next {
    float: right;
}
.ninja-forms-no-display {
    display: none;
}
.ninja-forms-form .wp-switch-editor {
    height: auto;
}
.ninja-forms-form .mceIframeContainer {
    background: #fff;
}
.ninja-forms-req-symbol {
    color: #ff0000;
}
.ninja-forms-form .label-above label,
.ninja-forms-form .label-below label {
    display: block;
}

.field-wrap,
#ninja_forms_required_items {
    margin-bottom: 10px;
}

.ninja-forms-form .list-radio-wrap.label-above ul label,
.ninja-forms-form .list-radio-wrap.label-below ul label,
.ninja-forms-form .list-checkbox-wrap.label-above ul label,
.ninja-forms-form .list-checkbox-wrap.label-below ul label {
    display: inline;
}

.list-radio-wrap ul,
.list-checkbox-wrap ul  {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-radio-wrap ul li,
.list-checkbox-wrap ul li {
    margin: 0;
    padding: 0;
}

#pass-strength-result {
    background-color: #eee;
    border-color: #ddd !important;
    border-style: solid;
    border-width: 1px;
    float: left;
    margin: 13px 5px 5px 1px;
    padding: 3px 5px;
    text-align: center;
    width: 200px;
}

#pass-strength-result.bad {
    background-color: #ffb78c;
    border-color: #ff853c !important;
}

#pass-strength-result.good {
    background-color: #ffec8b;
    border-color: #fc0 !important;
}

#pass-strength-result.short {
    background-color: #ffa0a0;
    border-color: #f04040 !important;
}

#pass-strength-result.strong {
    background-color: #c3ff88;
    border-color: #8dff1c !important;
}
